@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-white: #f7f7f7;
    --clr-gray: #ececec;

    --type-normal: #a8a878;
    --type-fire: #f08030;
    --type-water: #6890f0;
    --type-grass: #78c850;
    --type-electric: #f8d030;
    --type-ice: #98d8d8;
    --type-fight: #c03028;
    --type-poison: #a040a0;
    --type-ground: #e0c068;
    --type-flying: #a890f0;
    --type-psychic: #f85888;
    --type-bug: #a8b820;
    --type-rock: #b8a038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038f8;
    --type-steel: #b8b8d0;
    --type-fairy: #f0b6bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-black);
}

ul {
    list-style-type: none;
}

button {
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    background-color: var(--clr-gray);
    min-height: 100vh;
}

header {
    padding-block: 1rem;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnHeader {
    padding: 0.5rem 1rem;
    background-color: var(--clr-gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    cursor: pointer;
    border-radius: 10rem;
    transition: background-color 0.3s ease;
    border: #1c1c1c 1px solid;
    cursor: pointer;
}

.btnHeader:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    transform: scale(1.1);
}

main{
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.pokemonTodos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.pokemon {
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-block: 1rem;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    position: relative;
    isolation: isolate;
}

.pokemonIdBack{
    position: absolute;
    left: 2px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    font-weight: 700;
}

.pokemonImage img{
    width: 100%;
    height: 8rem;
    object-fit: contain;
}

.pokemonInfo{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemonTipes{
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.tipe{
    padding: .25rem .75rem;
    border-radius: 10rem;
    font-weight: 700;
    font-size: .75rem;
}

.pokemonStats{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-weight: 700;
}

.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}
.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}
.water {
    background-color: var(--type-water);
    color: var(--clr-black);
}
.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}
.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}
.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}
.fighting {
    background-color: var(--type-fight);
    color: var(--clr-white);
}
.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}
.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}
.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}
.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-white);
}
.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}
.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}
.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}
.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}
.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}
.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}
.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}

